/* ==UserStyle==
@name         Theme switcher by Mew
@version      0.3.0
@author       vednoc
@description  A variety of color-schemes for my userstyles.
@namespace    gitlab.com/vednoc/theme_switcher
@homepageURL  https://gitlab.com/vednoc/theme_switcher
@updateURL    https://gitlab.com/vednoc/theme_switcher/raw/master/switcher.user.css
@preprocessor uso

@var select dark "Background color" {
  "Solarized Light": "#fdf6e3",
  "Solarized Dark": "#073642",
  "Gruvbox Light Soft": "#f2e5bc",
  "Gruvbox Light Medium": "#fbf1c7",
  "Gruvbox Light Hard": "#f9f5d7",
  "Gruvbox Dark Soft": "#32302f",
  "Gruvbox Dark Medium": "#282828",
  "Gruvbox Dark Hard": "#1d2021",
  "Discord": "#2f3136",
  "DeepDark": "#111111",
  "Arc Dark": "#414A59",
  "Dracula": "#282a36",
  "Custom": "/*[[custom_dark]]*\/"
}
@var color custom_dark "Custom background color" #2e2e2e

@var select darker "Background highlight" {
  "Solarized Light": "#eee8d5",
  "Solarized Dark": "#002b36",
  "Gruvbox Light bg1": "#ebdbb2",
  "Gruvbox Light bg2": "#d5c4a1",
  "Gruvbox Light bg3": "#bdae93",
  "Gruvbox Light bg4": "#a89984",
  "Gruvbox Dark bg1": "#3c3836",
  "Gruvbox Dark bg2": "#504945",
  "Gruvbox Dark bg3": "#665c54",
  "Gruvbox Dark bg4": "#7c6f64",
  "Discord": "#1e2124",
  "DeepDark": "#232323",
  "Arc Dark": "#343944",
  "Dracula": "#44475a",
  "Custom": "/*[[custom_darker]]*\/"
}
@var color custom_darker "Custom background highlight color" #212121

@var select light "Primary text color" {
  "Solarized Light": "#657b83",
  "Solarized Dark": "#839496",
  "Gruvbox Light": "#3c3836",
  "Gruvbox Dark": "#fbf1c7",
  "Discord": "#ada8aa",
  "DeepDark": "#eff0f1",
  "Arc Dark": "#C1C8D1",
  "Dracula": "#f8f8f2",
  "Custom": "/*[[custom_light]]*\/"
}
@var color custom_light "Custom primary text color" #d1d1d1

@var select lighter "Secondary text color" {
  "Solarized Light": "#93a1a1",
  "Solarized Dark": "#93a1a1",
  "Gruvbox Light": "#665c54",
  "Gruvbox Dark": "#d5c4a1",
  "Discord": "#ffffff",
  "DeepDark": "#CCCCCC",
  "Arc Dark": "#B3BAC5",
  "Dracula": "#6272a4",
  "Custom": "/*[[custom_lighter]]*\/"
}
@var color custom_lighter "Custom secondary text color" #e9e9e9

@var select accent "Emphasized text color" {
  "Solarized Light": "#586e75",
  "Solarized Dark": "#586e75",
  "Gruvbox Light": "#d65d0e",
  "Gruvbox Dark": "#d65d0e",
  "Discord": "#7289da",
  "DeepDark": "#00adee",
  "Arc Dark": "#5294E2",
  "Dracula": "#e1e1e1",
  "Custom": "/*[[custom_accent]]*\/"
}
@var color custom_accent "Custom emphasized text color" #1da1a1

@var select icon "Icon color" {
  "Custom": "/*[[custom_icon]]*\/"
}
@var color custom_icon "Custom icon color" #d1d1d1

@var select shadow "Shadow intensity" {
  "Soft": "rgba(0, 0, 0, 0.07)",
  "Medium": "rgba(0, 0, 0, 0.12)",
  "Hard": "rgba(0, 0, 0, 0.17)",
  "Extreme": "rgba(0, 0, 0, 0.22)",
  "Custom": "/*[[custom_shadow]]*\/"
}
@var color custom_shadow "Custom shadow intensity" rgba(0, 0, 0, 0.1)

@var select yellow "Yellow color" {
  "Solarized": "#b58900",
  "Gruvbox normal yellow": "#d79921",
  "Gruvbox light yellow": "#fabd2f",
  "Gruvbox dark yellow": "#b57614",
  "Dracula": "#f1fa8c",
  "Custom": "/*[[custom_yellow]]*\/"
}
@var color custom_yellow "Custom yellow color" yellow

@var select orange "Orange color" {
  "Solarized": "#cb4b16",
  "Gruvbox normal orange": "#d65d0e",
  "Gruvbox light orange": "#fe8019",
  "Gruvbox dark orange": "#af3a03",
  "Dracula": "#ffb86c",
  "Custom": "/*[[custom_orange]]*\/"
}
@var color custom_orange "Custom orange color" orange

@var select red "Red color" {
  "Solarized": "#dc322f",
  "Gruvbox normal red": "#cc241d",
  "Gruvbox light red": "#fb4934",
  "Gruvbox dark red": "#9d0006",
  "Dracula": "#ff5555",
  "Custom": "/*[[custom_red]]*\/"
}
@var color custom_red "Custom red color" red

@var select magenta "Magenta color" {
  "Solarized": "#d33682",
  "Gruvbox normal magenta": "#928374",
  "Gruvbox light magenta": "#a89984",
  "Gruvbox dark magenta": "#7c6f64",
  "Dracula": "#ff79c6",
  "Custom": "/*[[custom_magenta]]*\/"
}
@var color custom_magenta "Custom magenta color" magenta

@var select violet "Violet color" {
  "Solarized": "#6c71c4",
  "Gruvbox normal violet": "#b16286",
  "Gruvbox light violet": "#d3869b",
  "Gruvbox dark violet": "#8f3f71",
  "Dracula": "#bd93f9",
  "Custom": "/*[[custom_violet]]*\/"
}
@var color custom_violet "Custom violet color" violet

@var select blue "Blue color" {
  "Solarized": "#268bd2",
  "Gruvbox normal blue": "#458588",
  "Gruvbox light blue": "#83a598",
  "Gruvbox dark blue": "#076678",
  "Dracula": "#507bfa",
  "Custom": "/*[[custom_blue]]*\/"
}
@var color custom_blue "Custom blue color" blue

@var select cyan "Cyan color" {
  "Solarized": "#2aa198",
  "Gruvbox normal cyan": "#689d6a",
  "Gruvbox light cyan": "#427b58",
  "Gruvbox dark cyan": "#7c6f64",
  "Dracula": "#8be9fd",
  "Custom": "/*[[custom_cyan]]*\/"
}
@var color custom_cyan "Custom cyan color" cyan

@var select green "Green color" {
  "Solarized": "#859900",
  "Gruvbox normal green": "#98971a",
  "Gruvbox light green": "#b8bb26",
  "Gruvbox dark green": "#79740e",
  "Dracula": "#50fa7b",
  "Custom": "/*[[custom_green]]*\/"
}
@var color custom_green "Custom green color" green

==/UserStyle== */

@-moz-document regexp("https?://.*") {
  :root {
    --dark:    /*[[dark]]*/    !important;
    --darker:  /*[[darker]]*/  !important;
    --light:   /*[[light]]*/   !important;
    --lighter: /*[[lighter]]*/ !important;
    --accent:  /*[[accent]]*/  !important;
    --icon:    /*[[icon]]*/    !important;
    --shadow:  /*[[shadow]]*/  !important;
    --yellow:  /*[[yellow]]*/  !important;
    --orange:  /*[[orange]]*/  !important;
    --red:     /*[[red]]*/     !important;
    --magenta: /*[[magenta]]*/ !important;
    --violet:  /*[[violet]]*/  !important;
    --blue:    /*[[blue]]*/    !important;
    --cyan:    /*[[cyan]]*/    !important;
    --green:   /*[[green]]*/   !important;
  }
}
